@mixin borderRad($size) {
  border-radius: $size;
}

@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flexRow($justify-content, $align-items) {
  @include flex(row, $justify-content, $align-items);
}

@mixin solid-1($border-color) {
  border: solid 1px $border-color;
}